/* ---- CSS Demo ---- */

/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}



/*----------------Utility Classes-----------------*/

.container{
  width:80vw;
  margin-left:80px;
}


/*---------------Responsive Images----------------*/

img{
  max-width: 100%;
}


/*----------------Global Styles ------------------*/

body{
 font-family: "Montserrat", sans-serif;
margin:0;  
}

header.primary{
background-color: #CA68ED;
text-align:center;
text-shadow: 2px 2px #000000;  
color:#ffffff;
/*Single value short hand*/
padding: 20px;  
/*long form*/
padding-top: 40px;
padding-right: 40px;
padding-bottom: 40px;
padding-left: 40px;  
/* T,R,B,L */
padding: 20px 40px 20px 40px;  
/* Two Value Top/Bottom / L/R */
padding: 20px 40px;  
}

header.primary h1{
font-size: 2.4rem;
margin:20px 0 0 0;  
}

header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
font-size: 1.4rem;
letter-spacing:.2px; 
margin:10px 0 0 0;  
}

header.primary nav ul{
  padding:0;
  display: flex;
  justify-content: space-around;


}

header.primary nav ul li{
  list-style-type:none;
}

header.primary nav ul a{
  color:#ffffff;
  background-color: rgba(0,0,0,.5);
  padding: 5px 7.5px;
  border-radius: 20px;
  text-decoration: none;
  font-size: .9rem;
  transition: .4s;
}

header.primary nav a:hover{
  background-color: rgba(0,0,0,.8);
}

#intro h2{
  color:#7368ED;
  border-bottom: 3px dotted #000000;
}

#content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

#content .post{
  box-shadow: 0 4px 8px rgba(0,0,0,.6);
  padding: 10px;
  font-size: .8rem;
}

#content .post figure{
  margin: 0;
}

#content time.post-date, #content figcaption{
  text-transform:uppercase;
  font-size:.9rem;
}

#content .post a{
  transition: .4s;
  color:#DFB7ED
  
}

#content .post a:hover{
  text-decoration: none;
}

aside[role="complementary"]{
  background-color: #7368ED;
  color:#ffffff;
  padding:40px 0;
}

aside .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
}


aside .container a{
  color:#ffffff;
}
aside .container a:hover{
  text-decoration: none;
}
aside .container a:last-child{
  display:block;
  text-align: right;
  margin:20px;
}


aside .widget footer{
  display: none;

}

#colophon{
  background-color: #ED68DE;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}












/*Media Queries*/

@media screen and (max-width: 600px){
  header.primary nav ul{
  flex-direction: column;
  gap: 10px;
  }


  header.primary nav ul a{
    display:block;

  }
  .container{
  background-color:transparent;
  width:100%;
  margin:20px auto;
}
}