// sass codes/personal/osrs_ui/assets/stylesheets/style.scss codes/personal/osrs_ui/assets/stylesheets/style.css -w
// sass style.scss style.css -w

body{
    background-color: #5C3C61;
    
    margin:0;
}
#card{
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-top: 8rem;
    background-color: #B29AB6;


    color:white;
    text-align: center;
    font-size: clamp(1rem,1.2vw,100000px)
}
table{


    
    background-color: #B29AB6;
    padding: 10px;
    table-layout: fixed;
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
    border-collapse: collapse;
    border-radius: 10px;



    #itemRow{
        background-color: #2E0F33;
    }
    #itemRow:nth-child(even){
        background-color: #321936;
    }
    tr{
        th{
            background-color: #876E8B;
        }
        th, td{
            border-bottom: 1px solid pink;
            padding: 10px;
            

        }
        td{
            text-align: center;
        }
        td:nth-child(1){
            text-align: left;
        }
        

    }
    #itemRow:hover{
        background-color: #522948;
        cursor: pointer;
    }
}

.topBar{
    position: fixed;
    top: 0;
    left: 0;
    height: 4rem;
    width: 100%;
    display: grid;
    background-color: #876E8B;
    padding: auto;
    grid-template-columns: 1fr 2fr 1fr;
    list-style-type: none;
    
        a{
            color: white;
            text-align: center;
            align-self: center;
            text-decoration: none;
            font-size: clamp(2rem,1.2vw,100000px);
            background-color: rgba(0,0,0,20%);
            border-radius: 100px;
        }
        a:hover{
            background-color: rgba(0,0,0,50%);

        }
        #searchBar{
            display: flex;
            justify-content: center;
            align-self: center;

            #Search{
                
                font-size: clamp(1.5rem,1.2vw,100000px)
            }
        }
}
    
.hide{
    display: none;

}

footer{
    font-size: clamp(1.5rem,1.2vw,100000px);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 3rem;
    background-color: #876E8B;
    padding:1px;
    #jagexCopyRight{
        max-width: 50vw;
    }

}